---
import Layout from '../layouts/Layout.astro'
import Maintenance from '../components/Maintenance.astro'
---

<Layout title="Robert Friedman | Web Developer">
	<main>
		<Maintenance endDate="September 2023"/>
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}
</style>
