---
import "../styles/main.css"
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Robert Friedman: Web developer" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <title>Robert Friedman | Web Developer</title>
  </head>
  <body>
    <main class="px-12 h-screen grid place-items-center">
      <section>
        <h1 class="text-center mb-8">
          Thanks for getting in touch! You will hear back from me shortly.
        </h1>
        <a href="/" class="link block text-center text-2xl">Go back home.</a>
      </section>
    </main>
  </body>
</html>
