$beige-dark: #a6986f;
$beige-light: #F1ECE6;
$black: #333333;
$blue-dark: #1A284C;
$blue-medium: #4C6D8D;
$blue: #205bbb;
$blue-light: #87a4d2;
$earthy: #7B714F;
$gray: #707070;
$grayish-blue: #5D697E;
$green: #415b1e;
$whiteish: #fdfdfd;